.main{
    padding:20px;
    font-weight: bolder;
    text-align: center
}

.secondary{
    padding: 10px;
    margin: 10px;
}

.totalView {
    padding: 10;
    text-align: center
}

.total {
    font-family: 'Calibri';
    font-weight: bolder;
    font-size: 300px;
    text-align: center;
    color: #36A2EB
}

#button1{
    font-size: 20px;
    padding: 15px
}

.ui-datatable-data> tr> td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

td{
    word-break:break-all
}
